.cart-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #ccc;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1rem;
}
.img-fluid {
  width: 150px;
}
.quantity {
  padding: 1rem;
}
.close {
  justify-content: flex-end;
}
.cardContainer {
  width: 50%;
  height: 300px;
  overflow: auto;
  border: 2px solid black;
  position: absolute;
  background-color: white;
  z-index: 100;
  right: 2px;
  border-radius: 20px;
  padding: 0px 50px;
}
